<main>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Nuestro Catálogo</h2>
            <p class="mt-4 max-w-2xl mx-auto text-lg text-gray-500">Calzado con estilo para toda la familia.</p>
        </div>
        
        <!-- Estado de Carga con el nuevo componente -->
        <div *ngIf="isLoading">
            <app-loader></app-loader>
        </div>

        <!-- Estado de Error -->
        <div *ngIf="error" class="text-center py-16 bg-red-50 text-red-700 p-4 rounded-lg">
            <p class="font-bold">¡Ocurrió un error!</p>
            <p>{{ error }}</p>
        </div>

        <!-- Contenido Principal -->
        <div *ngIf="!isLoading && !error" id="product-grid" class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-6">
            <a *ngFor="let product of products" [routerLink]="['/producto', product.id]" class="group relative block bg-white border rounded-lg shadow-sm overflow-hidden product-card transition-all duration-300 no-underline">
                <div class="w-full h-56 bg-gray-200 overflow-hidden">
                    <img [src]="product.imagenUrl" [alt]="product.nombre" class="w-full h-full object-center object-cover group-hover:opacity-75 transition-opacity duration-300">
                </div>
                <div class="p-4">
                    <h3 class="text-sm text-gray-500">{{ product.categoria.nombre }}</h3>
                    <p class="text-base font-semibold text-gray-900 mt-1">{{ product.nombre }}</p>
                    <p class="text-lg font-bold text-blue-600 mt-2">{{ product.precio | currency:'S/ ' }}</p>
                    <button class="mt-4 w-full bg-gray-800 text-white py-2 px-4 rounded-md hover:bg-gray-700 transition-colors duration-300 flex items-center justify-center space-x-2">
                        <i class="ph-shopping-cart-simple text-xl"></i>
                        <span>Agregar al Carrito</span>
                    </button>
                </div>
            </a>
        </div>
    </div>
</main>